name: Reopen issue when code changes requested

on:
  pull_request:
    types: [synchronize]

env:
  GH_TOKEN: ${{ github.token }}
  ISSUE_NUMBER: 0
  ISSUE_STATE: "NULL"

jobs:
  get_headRefName:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get pull request issue number
        run: |
          echo "Getting information about a pull request and related issue..."
          
          headRefName=$(gh pr view ${{ github.event.number }} --json headRefName --jq '.headRefName')
          response_code=$?
          if [ "$response_code" -ne 0 ]; then
            echo "ERROR: Request failed with exit status ${response_code}!"
            exit 1
          fi
          echo "PR headRefName: $headRefName"
          
          ISSUE_NUMBER=$(echo "$headRefName" | awk 'match($0, /[0-9]+/) {print substr($0, RSTART, RLENGTH)}')
          response_code=$?
          echo "Linked issue number: $ISSUE_NUMBER"
          
          ISSUE_STATE=$(gh issue view $ISSUE_NUMBER --json state --jq '.state')
          response_code=$?
          if [ "$response_code" -ne 0 ]; then
            echo "ERROR: Request failed with exit status ${response_code}!"
            exit 1
          fi
          echo "Issue state: $ISSUE_STATE"
    
          echo "ISSUE_NUMBER=$ISSUE_NUMBER" >> $GITHUB_ENV
          echo "ISSUE_STATE=$ISSUE_STATE" >> $GITHUB_ENV

      - name: Reopen related issue
        run: |
          echo "Trying to reopen issue..."
          echo "Issue number: $ISSUE_NUMBER"
          echo "Issue state: $ISSUE_STATE"
          
          if [ "$ISSUE_STATE" = "OPEN" ]; then
            echo "Trying to close issue..."
            close_issue=$(gh issue close $ISSUE_NUMBER --repo ${{ github.repository }})
            response_code=$?
            
            if [ "$response_code" -ne 0 ]; then
              echo "ERROR: Request failed with exit status ${response_code}!"
              exit 1
            fi
          fi

          echo "Trying to open issue..."
          reopen_issue=$(gh issue reopen $ISSUE_NUMBER --repo ${{ github.repository }})
          response_code=$?

          if [ "$response_code" -ne 0 ]; then
            echo "ERROR: Request failed with exit status ${response_code}!"
            exit 1
          fi
          echo "Issue is reopened successfully!"